[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/vim-session"]
	path = vim/bundle/vim-session
	url = git://github.com/inkarkat/vim-session.git
